h1 {
  color: #434d56;
  text-align: center;
  padding: 40px;
}

.container {
  position: absolute
  margin-top: 30px;
  padding: 35px;
  border-radius: 20px;
  align-items: center;
  max-width: 700px;
  margin-bottom: 25px;
  background-image: linear-gradient(to top, #ddcec8 0%, #ec730f 100%);